
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        130deg, 
        #4b0082 0%, 
        #6a0dad 25%,  
        #8a2be2 50%,  
        #b266ff 75%,  
        #d8b4fe 100%
    );
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color:white
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}


header h1 {
    font-size: 3rem;
    margin-top: 20px;
}

.middle {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.presentation {
    font-size: 1.4rem;
    max-width: 700px;
    line-height: 1.6;
}

.clubes-link {
    margin-bottom: 40px;
}

.clubes-link a {
    display: inline-block;
    padding: 12px 30px;
    border-radius: 8px;
    background: linear-gradient(135deg,#4b0082, #6a0dad,#b266ff);
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
    border: 2px solid transparent;
}

.clubes-link a:hover {
    background-color: transparent;
    color: #6a0dad;
    border: 2px solid #6a0dad;
}

footer {
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
    background-color: rgba(0,0,0,0.3);
}

.clube-lista{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:20px;
    max-width:1200px;
    margin:0 auto;
}

.clube-card{
    background-color: #6a0dad;
    border-radius: 10px;
    padding: 24px;
    min-height: 180px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display:flex;
    flex-direction:column;
}

.clube-nome{
    margin: 0 0 10px 0;
    color:#555555;
}

.clube-descrição{
    margin: 0 0 10px 0;
    color:#555555;
}

.clube-categorias{
    font-size:14px;
    color:#2e014f
}

.avizo-vazio{
    text-align:center;
    font-style:italic;
    color:#888;
    font-size: 16px;
    margin-top: 40px;
}

.criar-clube-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 50px auto;
    padding:20px;
    background-color: #6a0dad;
    border-radius: 10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.3);
    color:white
}

.criar-clube-form label{
    font-weight:bold;
}

.criar-clube-form input{
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:14px;
}

.btn-criar-clube{
    padding: 10px 12px;
    border-radius:8px;
    border:none;
    background-color:#fbfbfb;
    color:#b10aff;
    font-weight:bold;
    cursor:pointer;
    transition: background-color 0.3s;
}

.btn-criar-clube:hover {
  background-color: #2e014f;
}

.btn-criar-link{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    background:#6a0dad;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: background-color0.3s ease;
    margin-bottom: 20px;
}

.btn-criar-link:hover{
    background-color:#2e014f;
}

.search-bar{
    display:flex;
    align-items:center;;
    margin:20px 0;
    max-width:400px;
}

.search-bar input[type="search"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-right: none;
    border-radius: 8px 0 0 8px;
    outline: none;
    font-size: 14px;
}

.search-btn{
    padding: 10px 15px;
    border:none;
    background-color:#6a0dad;
    color:white;
    font-size:16px;
    cursor:pointer;
    border-radius:0 8px 8px 0;
    transition:background-color 0.3s ease;
}

.search-btn:hover{
    background-color:#2e014f;
}