{% extends "layout.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <a href="/clubes/criar" class="btn-criar-link">Criar um clube</a>
    {% endif %}
    <div class="search-wrapper">
        <input
            id="search"
            name="search"
            type="search"
            placeholder="Pesquisar clubes..."
        />
        <button type="submit" class="search-btn">🔍</button>
    </div>


    <main class="clube-lista">
        {% for clube in clubes %}
            {% if clube["name"].strip() or clube["description"].strip() or clube["categories"].strip() %}
                <a class="clube-card" href='/clubes/{{ clube["id"] }}'>
                    <h2 class="clube-name">Nome:{{ clube["name"] }}</h2>
                    <p class="clube-descricao">Descrição: {{ clube["description"] }}</p>
                    <p class="clube-categorias">Categorias: {{ clube["categories"] }}</p>
                </a>
            {% endif %}
        {% else %}
            <p class="aviso-vazio">Nenhum clube encontrado.</p>
        {% endfor %}
    </main>
{% endblock %}
