{% extends "layout.html" %}

{% block content%}
    <form action="/clubes/criar" method="POST" class="criar-clube-form">
        <label for="name">Nome:</label>
        <input
            type="text"
            id="name"
            name="name"
            placeholder="Nome do clube"
            required
        />

        <label for="description">Descrição:</label>
        <input
            type="text"
            id="description"
            name="description"
            placeholder="Descrição do clube"
            required
        />

        <label for="categories">Categorias:</label>
        <input
            type="text"
            id="categories"
            name="categories"
            placeholder="Categorias"
            required
        />

        <button type="submit" class="btn-criar-clube">Criar</button>
    </form>
{% endblock %}
