{% extends "layout.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<header>
    <h1>ConnectUs</h1>
</header>

<div class="middle">
    <p class="presentation">
        Bem-vindo ao ConnectUs! Aqui conectamos pessoas com interesses comuns em eventos
        locais e online, promovendo experiências únicas e oportunidades de aprendizado,
        networking e diversão. Explore, participe e descubra novos grupos que combinam com você!
    </p>
</div>

<div class="clubes-link">
    <a href="/clubes">Ver clubes disponíveis</a>
</div>
{% endblock %}
