<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Título a definir{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>
    <header>
        <nav class="navbar">
             <div class="logo">Nome a definir</div>
            <ul class="nav-links">
                <li><a href="/">Início</a></li>
                <li><a href="/clubes">Clubes</a></li>
                <li><a href="/clubes/criar">Criar Clube</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 - All rights reserved.</p>
    </footer>
</body>
</html>
